<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <h2>Change Password</h2>

  <div class="create-blog content">
    <form action="/changePassword/<%= user.id %>" method="POST">
      <label for="password" >Old Password:</label>
      <input type="password"  name="oldPassword" id="pwd1">
      <label for="password" >New Password:</label>
      <input type="password" name="newPassword" id="pwd2">

      <button type="submit">change</button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>